@import '../scss/partials/variables';
@import '../scss/partials/input';

body {
    font-family: 'Josefin Sans', sans-serif;
    background: #a1a1a1;
}   

#wrapper-0 {
    height: 100vh;
    > p {
        width: 40%;
        font-size: 20px;
        text-align: center;
        outline: 1px solid #ffffff;
        background: #fafafa !important;
        padding: 3px;
        margin: 10px 50px 20px;
        color: #000000;

        box-shadow: 5px 5px 15px 5px #000000;
    }
    
    > input {
        
    }
}


#uploadedFiles {
    img.close {
        width: 20px;
        height: 20px;
        position: absolute;
        transform: translateX(140px);
        
        //left: 100px;
        
    }
    
    div {
        float: left;
    img {
        max-width: 160px;
        margin: 10px;
    }
        
        
        
    }
    
    .title {
        position: relative;
        z-index: 20;
        left: 150px;
        top:100px;
        color: #ffffff;
        background: rgba(0,0,0,.7);
    }
}

#contextMenu {
    position: absolute;
    z-index: 200;
    background-color: $color1;
    color: #ffffff;
    cursor: pointer;
    height: 40px;
    width: 300px;
    line-height: 40px;
    text-align: center;
    //transform: translateX(-100px);
    &.visible {
        transition: all 1s ease-in;
        background-color: lighten($color1,20%);
    }
    
    &.clicked {
        transition: all .1s ease-in;
        background-color: lighten($color1,60%);
    }
}