@import 'partials/variables';
@import 'partials/animations';
@import 'partials/mixins';


html,
body {
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    overflow-x: visible;
}


body {
    background: rgba(255, 255, 255, 1);
    height: 100%;
    position: relative;
    padding-bottom: 6rem;
}

h1 {
    display: block;
    position: relative;
    top: 130px;
    text-decoration: none;
    letter-spacing: .2em;
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin: 0 auto; //    text-transform: capitalize;
    font-family: 'Source Code Pro', monospace;
}

#wrapper-0 {

    background: rgba(255, 255, 255, 1);
    margin-top: 260px;
    transform: translateY(170px);

    >* {
        // margin-bottom: 20px;
    }


}





#header nav {
    .nav-trigger li {
        background: $colorInv;
    }

    >ul {
        background-color: rgba(210, 210, 210, 0);
    }
}

nav#menu>ul>li:hover>a {}






nav#menu {
    transition: all 1s ease-out;

    >ul {
        background-color: rgba(210, 210, 210, 0);

        >li {
            >a {
                color: $colorInv;

            }

            &:hover>a {
                //                color: rgba(10,10,10,1);
                color: $color0;
            }
        }

        &.hidden {
            animation: none !important;

            &>li {

                opacity: 0;
                transition: all .3s ease-out;
            }
        }
    }
}


@media #{$tablet} {
    nav#menu {
        >ul {
            background-color: rgba(210, 210, 210, 0);
        }
    }

    .blurred {
        filter: blur(30px);
        opacity: .7;
        transition: all 1s ease-in;
    }

}


#header {
    >a {
        color: $colorInv;
    }

    background: rgba(200, 200, 200, 0);
    color: $colorInv;

    >nav>div>div>i {
        background-color: $colorInv !important;
    }

    >* {
        color: $colorInv;
    }

    .noselect {
        color: $colorInv;
    }
}


body {
    font-family: 'Josefin Sans', sans-serif;

    color: #000000;
}

#wrapper-0 {

    margin: 0 auto;
    width: 80%;

}

.image-wrapper {
    width: 100%;
    margin-top: 40px;

    img {

        display: block;
        margin-right: 0px;
        width: 100%;
        height: auto;
        max-height: 100%;

       
        max-width: 100%;
    }

}


.title {
    height: 100px;
    line-height: 100px; //background: rgba(240,240,240,.4);
    color: lighten($colorInv, 100%);
    text-align: justify;
    font-weight: 300;
    transform: translateY(-100px);
    font-size: 30px;

    text-transform: uppercase;
  

    background: rgba(0,0,0,.4);
    padding-left: 50px;    

}

.time {
    margin-top: -20px;

}

#wrapper-0 {
    .content {
        text-align: justify;
        font-family: 'IBM Plex Sans', sans-serif;
        margin-top: 20px;
        font-stretch: 100%;
        font-weight: 400;
        font-size: 18px;
        color: darken(rgba(115, 101, 67, 1), 20%);


        -webkit-font-smoothing: subpixel-antialiased;
    }



    .more {
        //            position: relative;
        //            left: 80%;
        position: relative;
        top: -15px;
        padding: 10px;
        user-select: none;
        cursor: pointer;
        float: right;
        //background: rgba(142, 29, 7, 1);
        color: lighten(rgba(0, 0, 0, 1), 50%);
        animation-name: shadowDownMore, shadowDownBrownMore;

        animation-duration: .5s, 1s;
        animation-fill-mode: forwards, forwards;
        animation-direction: forwards, forwards; //            animation-name: shadowDownMore;

        //                animation-duration: .5s;
        //                animation-fill-mode: forwards;
        //                animation-direction: reverse;
        &:hover {
            animation-name: shadowDownMoreRev, shadowDownMoreRev;
            animation-duration: 1s, 1s;
            animation-fill-mode: forwards, forwards;
            animation-direction: forwards, forwards;

        }

        //
    }

    //    *[data-form='shorter'] {
    //        //height: 300px;
    //    }
    //
    //    *[data-form='longer'] {
    //        transform: all 1s ease-in;
    //        height: auto;
    //    }
    //
    &>.forum {
        margin-top: 30px;

        p {
            user-select: none;
            cursor: pointer;
            display: inline;
            position: relative;
            top: 4px;
            transition: all 1s ease-out;
            font-size: 40px;
            transform: translateY(140px);

            &:hover {
                transition: all 1s ease-in;
                color: lighten($color4, 20%);
            }
        }

        &.hidden {
            &>.comment {
                //                opacity: 0;
                //                height: 0px;
                display: none;
            }
        }

        color: rgba(0, 0, 0, 1);

        &>.nrOfComments {
            float: right;
            margin-top: 20px;
        }


        //        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gcfFQsbXn76TAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAASSURBVAjXY2BgYPjP1NvbywAACwMCqbcGRdwAAAAASUVORK5CYII=
        & .comment {
            opacity: 1;
            margin: 20px auto;
            background: none;
            color: #000000;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gcfFQsbXn76TAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAASSURBVAjXY2BgYPjP1NvbywAACwMCqbcGRdwAAAAASUVORK5CYII=');
            background-repeat: repeat-x;
            min-height: 40px;
            padding: 20px 15px;



            &>.content_ {
                color: #000000;
                float: left;
                cursor: text;
                margin-top: 10px;
            }

            & .comment.hidden {
                display: none;
            }

            .plus {
                text-align: right !important;
                clear: both; //                position: absolute;
                //                margin-left: 100%;
                overflow: hidden;
                right: 0px;
                cursor: pointer; //float: right;

                * {
                    text-align: left;
                }


            }

            &>.login {
                transform: translateY(5px);
                float: right;
                margin-right: 10px;
            }
        }

        .firstone {
            top: 7px;
        }

    }


}

hr {
    position: relative;
    top: 60px;
    margin: 120px auto;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


#arrow-up {
    position: fixed;
    z-index: 500;
    bottom: 10px;
    right: 30px;
    width: 40px;
    height: 40px; //  display: none;
    transform: translateX(100px) scaleY(0);
    opacity: 0;
    transition: all 1s ease-out;

    >svg {
        width: 40px;
        height: 40px;
        transform: rotate(-90deg);
    }

    &.visible {
        //        display: block;
        transform: translateX(0px) scaleY(1);
        opacity: 1;
        transition: all 1s ease-in;
    }
}

#wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -3em;

    &:after {
        content: "";
        display: block;
    }

    &>aside {

        //  background: darken($color4,20%);
        background: rgba(255, 255, 255, 0.3);
        float: right;
        position: absolute;
        z-index: 80;
        right: 0px;
        top: 150px;
        width: 400px;
        height: 400px;
        transform: translate(350px);
        transition: all .5s ease-out;


        .aside-category {
            margin-left: 20px;
            display: block;
            float: left;
            font-size: 12px;
        }

        #change-category {
            display: block;
            float: right;
            text-decoration: underline;

            font-size: 12px;
            cursor: pointer;

            .tip {
                width: 100px;
                position: absolute;
                top: 45px;
                left: 280px;
                padding: 2px;

                @media(max-width: 700px) {

                    float: right;
                    right: 10px;
                    left: auto;

                }

                &>* {
                    color: #ffffff;

                    text-align: right;

                    &>* {

                        float: left;
                        width: 100%;
                        display: block;
                        line-height: 15px;
                        font-size: 10px;
                        height: 15px;
                        transition: all .5s ease-out;
                        margin-bottom: 2px;
                        animation-name: shadowDownMoreRev, shadowDownMoreRev;
                        animation-duration: 3s, 1s;
                        animation-fill-mode: forwards, forwards;

                        a {
                            text-decoration: none;
                            color: darken(#ffffff,10%);                                

                        }

                        &:hover {
                            //                            background-color: $color1;
                            animation-name: shadowDownMore, shadowDownBrownMore;
                            animation-duration: 3s, 1s;
                            animation-fill-mode: forwards, forwards;

                            a {
                                color: #ffffff;                                
                            }

                        }

                    }

                }



            }
        }

        #contents {
            float: right;
            width: 70%;
        }



        &>div {

            height: 20px;
            line-height: 20px;
            transform: translate(-20px);
            transition: all .5s ease-out;
            position: relative;
            top: 0px;
            left: 5px;
            background: #ffffff;
            color: darken($color1, 20%);

            padding: 5px 15px;

            border-radius: 5px 0px 0px 5px; //            & > .arrow-left

            &>p {
                text-align: right;
                font-family: "Josefin Sans", sans-serif;
                float: left;
                margin-left: 20px; // font-variant: small-caps;
            }
        }

        ul {
            opacity: .3;
        }

        background-color: rgba(255,255,255,.1);

        &:hover {
            transition: transform .5s ease-in, background 1s cubic-bezier(0.97, -0.16, 1, 1);
            transform: translate(0px);
            opacity: 1; //background: rgba(210, 210, 210, .9);
            background-color: rgba(255, 255, 255, .9);

            &>div {
                left: 0px;
                transition: all .3s ease-in;
                transform: translate(0px);
            }

            ul {
                opacity: 1;
                color: #000000; //                color: lighten($color1, 10%);
            }
        }

        >ul {

            margin: 50px 15px;
            list-style-type: none;

            &>li {
                margin: 15px 5px;
               // border-bottom: solid 1px #000000;
                height: 20px;
                line-height: 20px;
                cursor: pointer;
                transition: all .3s ease-out;
                padding: 6px; //box-shadow: inset 0px 0px 1px 2px
                width: 100%; //height: 30px;
                display: block;
                margin-top: 10px;
               // border-bottom: 1px solid #464b3c;
                text-align: center;
                text-decoration: none;
                letter-spacing: .1em;
                font-weight: 300;
                transition: all 1s ease-out;
                font-variant: small-caps;
                font-stretch: normal;
                font-size: 14px; //                transition: transform .5s ease-in, font-stretch .5s ease-in, background 1s cubic-bezier(0.97,-0.16, 1, 1);
                transition: all .5s cubic-bezier(0.97, -0.16, 1, 1);

                &:hover {
                    font-stretch: extra-expanded;
                    letter-spacing: .3em;
                    font-weight: 800;
                    transition: all .7s cubic-bezier(0.47, -0.64, 1, 1); //                    height: 25px;

                }
            }
        }
    }

    .greetings {


        a {
            color: #000000;
        }
    }





}


#footer,
#wrapper:after {
    height: 3em;
}


#modalWindow {
    //display: none;
    text-align: center;
    position: fixed;
    opacity: 0;
    transition: all 1s ease-out;

    &.visible {
        display: flex;
        transition: all 1s ease-in;
        justify-content: center;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: all 1s ease-in;
        background-color: rgba(22, 22, 22, .7);
        color: #ffffff;
        z-index: 500;


    }



    .comment {
        display: block !important;
        width: 80%;
        min-width: 100px;
        margin: 0 auto;
        position: relative;
        top: 100px;
        height: auto;
        color: #ffffff; //        overflow: scroll;
        max-height: 200px;

        &>* {
            margin-left: 10px;
        }

        .login {
            width: 40% !important;
            min-width: 100px;
            float: left;
            margin: 0px;
            display: inline;
            background: $color2;

            text-align: left;
        }

        .date {
            width: 40%;
            position: absolute;
            right: 0px;
            float: right;
            margin: 0px;
            display: inline;
            background: $color2;

        }

        .content {
            //width: 100%;
            margin: 20px 0px;
            padding-top: 20px;
            padding-bottom: 20px;
            z-index: 700;
            padding-left: 10px;
            padding-right: 10px; //            margin-top: 20px;
            margin-bottom: 0px;
            background: lighten($color2, 20%);
            text-align: justify; //text-transform: capitalize;

            img {
                position: relative;
                display: block;
                float: right;
                cursor: pointer;
                transition: all 1s ease-out;

                &:hover {
                    animation-name: activeArrowUp;
                    animation-direction: normal;
                    animation-duration: 1s;
                    animation-fill-mode: forwards; //                    transition: all 1s ease-in;
                    //                    margin-top: 10px;
                    //                    color: $color2;
                }
            }
        }
    }



    &>textarea {
        position: absolute;
        top: 250px;
        width: 80%;
        min-height: 200px;
        line-height: 100px;
        text-align: center; //        background: black;
        //        color: #ffffff;
        //        display: flex;
        justify-content: center;


    }

    #okCancel {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: right;
        display: flex;
        justify-content: center;

        div {
            width: 80px;
            text-align: center;
            margin: 10px;
            background: rgba(11, 11, 11, 1);
            padding: 10px;
            cursor: pointer;
            transition: all .5s ease-out;
            background-color: rgba(22, 22, 22, 0);
            outline: 1px solid #ffffff;

            &:hover {
                background: #ffffff;
                color: rgba(11, 11, 11, 1);
                transition: all .5s ease-in;
            }


        }




    }
}

.hidden[data-id]>* {
    display: none;
}



.addComment {
    width: 100px; //                float: right;
    //                transform: translateX(-200%);
    height: 10px;
    line-height: 10px;
    text-align: center;
    cursor: pointer; //    background-color: lighten($color2, 40%);
    border-radius: 5px;
    margin: 40px auto auto 10px;
    float: right;
    padding: 8px;
    transition: all .5s ease-out;
    font-weight: 800;
    color: transparent;
    background-color: darken($color2, 20%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-clip: #ffffff;


    &:hover {
        transition: all .5s ease-in;
        color: #000000;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 0); //border-radius: 0px;
    }

    //                position: re;
    //                left: 10px;
    div:nth-child(1) {
        &>input {
            //height: 300px;
        }

        border: 1px solid #000000;
    }

    div:nth-child(2) {}

}


#footer {
    // backgound-color: #efefef;
    //  text-align: center;
    position: relative;
    top: 400px;
    height: 3em;
    margin-top: 3em;
    background-color: #000;
    color: #777;
    font-size: 13px;
    line-height: 3em;
    padding-left: 40px;
}


@media(max-width: 700px) {
    @import 'fullblog_lt700';
}

@media(min-width: 701px) {
    @import 'fullblog_gt700';
}
