// bower:scss
// endbower
@import 'partials/variables';
@import 'partials/classes';
@import 'partials/animations';
@import 'partials/menu';
@import 'partials/mixins';
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




html {
    position: relative;
    min-height: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
}


body {
    height: 200vh;
    margin: 0px;
    padding: 0px;
    background-color: $bodyColor;
    font-family: 'Josefin Sans', sans-serif;
    * {
        margin: 0px;
        padding: 0px;
    }
    #wrapper-0 {
        color: rgba(255, 255, 255, 1);
        height: 100vh; //        @import 'partials/login';
    }
}

@import 'partials/header';
@import 'partials/introduction';
.img-wrapper {
    display: block;
    z-index: 0;
    transition: all 1s linear;
    overflow: hidden;
    width: 100%;
    height: 400px;
    position: relative;
    top: 50px;


    img {
        width: 2000px;
        position: relative;
        left: -200px;

    }


    @media(max-width:700px) {
        &.inactive {
            filter: grayscale(1) sepia(60%);
            opacity: .5;
            transition: all 1s linear;
        }

    }


    #img-shadow {
        height: 2800px;
        width: 100%;
        position: absolute;
        top: -200px;
        z-index: 30; //      background: rgb(30, 87, 153);
        /* Old browsers */
        //        background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 45%, rgba(125, 185, 232, 1) 100%);
        //        /* FF3.6-15 */
        //        background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(41, 137, 216, 1) 45%, rgba(125, 185, 232, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(30, 30, 30, 0) 0%, rgba(30, 30, 30, 0) 35%, rgba(30, 30, 30, 0.1) 36%, rgba(30, 30, 30, 0.8) 50%, rgba(30, 30, 30, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
        /* IE6-9 */
    }


}



#background-wrapper article {
    filter: grayscale(1) sepia(60%);
    opacity: 1;
    transition: all 1s linear;
    div {
        transition: all 1s linear;
    }
}

#wrapper-1 {
    position: sticky;

    height: 100vh;
    section.posts {
        header {

            height: 40px;
            line-height: 40px;
            background-color: #fafafa;
            text-align: right;
            border-radius: 5px 5px 0px 0px;



        }
        ;

        article {
            background-color: #121212;
            color: #fafafa;

        }
        ;
    } //    height: 100vh;
    > section.inner {
        margin: 0px 0px;
        transition: all 1s linear;
        font-size: 1em;
        height: 160vh;
        transform: translateY(40px);
        aside {
            float: right;
            margin: 30px;
            font-weight: 900;
            font-size: 40px;
            text-decoration: underline;
            letter-spacing: .3em;
        }
        > article {
            height: 90%;
            overflow: hidden;
            line-height: 30px;
            word-break: break-all;
            hyphens: auto;
            #add-content {
                //overflow-y: hidden;
                //height: 70vh;
                > div {
                    position: relative;


                    @import 'partials/blog';

                } //                &::scrollbar {
                //                    width: 0px;
                //                }
            }
           
        }
    }
    &.inactive {

        @media(max-width: 700px) {
            > section.inner {
                filter: grayscale(1) sepia(60%);
                opacity: .2;
                transition: all 1s linear;
            }

        }
    }
    article {
        &.remove {
            transition: all 1s ease-in;
            animation: fadeOut 1.5s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            opacity: 0;
        }
        &.invisible {}
        div {
            line-height: 30px;
        }
        .arrow-wrapper {
            display: inline;
            cursor: pointer;
        }
    }
    .invible {
        display: none;
    }
}

#wrapper-3 {
    z-index: 300;
    height: 100vh;
    width: 100vw;
    position: absolute;
    color: #ffffff;
    top: 0vh;
    left: 100vw;
}


#categories {
    //    overflow-y: scroll;
}


#navigation {
    position: fixed; //    bottom: 130px;
    //    top:-400px;
}

div.arrowUpWrapper {
    cursor: pointer;
    position: absolute;
    right: 60px;
    bottom: -70px; //    bottom: -1000px;
    //    right: 40px;
    //    display: none;
    &:hover {

        .arrowUp {
//            animation: activeUpArrow 1.5s;
//            animation-fill-mode: forwards;
//            animation-iteration-count: 1;
//            &[down='true'] {
//                animation: activeDownArrow 1.5s;
//                animation-fill-mode: forwards;
//                animation-iteration-count: 1;
//            }


        }
    }
    .arrowUp {
        z-index: 40;
        position: absolute;
        left: 90%;
        bottom: 40px; //        bottom: 10px;
        transition: all 1s ease-in;
        transform: rotate(-90deg) translate(50px, -50px);
    }

    .arrowRight {
        z-index: 400;
        position: absolute; //    left: 90%;
        bottom: 40px; //        bottom: 10px;
        transition: all 1s linear;
        transform: rotate(0deg) translate(0px, -50px);
        &:hover {
            animation: activeRightArrow 1.5s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
//            & ~ img {
//                animation: none !important;
//            }

        }
    }
}

footer {
    position: absolute;
    right: 0;
    bottom: -120px;
    left: 0;
    padding: 1rem;
    clear: both;
    position: relative;
    transform: translate(0px, -110px);
    z-index: 400;
    height: 40px;
    margin-top: 20px;
    background-color: #000000;
    font-size: 13px;
    color: $darken;
    font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 40px;
    padding-left: 40px;
    a {
        text-decoration: none;
        color: #cacaca;
    }
}




#header {
    position: absolute;
    > .greetings {
        color: #ffffff;
        position: absolute;
        left: 10px;
        top: 80px;
        width: 130px;
        background: rgba(55, 55, 55, .5);
        text-align: right;
        z-index: 110;
        border: solid 1px #ffffff;
        &.hidden {
             animation-duration: 10s;
                animation-name: hide;
                animation-iteration-count: 1;
                animation-direction: normal;
            animation-fill-mode: forwards;
        }
        > div {
            width: 120px;
            margin: 5px;
            background: rgba(55, 55, 55, 1);

        }
        ;

        a {
            float: right;
            //            text-align:  !important right;
            transition: all 1s linear; //                animation-
            //font-stretch: extra-condensed;
            font-weight: normal; //font-family: Arial sans-serif;
            width: 90px;
            opacity: .7;
            & > div {
                transition: all 1s ease-in;
                transform: scaleX(.8);
                text-align: center;
            }
            duration: 1s; //                animation-name: logoutLink;
            //                animation-iteration-count: 1;
            //                animation-direction: reverse;
            &:hover {
                animation-duration: .7s;
                animation-name: logoutLink;
                animation-iteration-count: 1;
                animation-direction: normal;
                transition: all 1s linear;
                font-weight: 600;
              //  font-stretch: extra-expanded;


                & > div {

                    transform: scaleX(1);
                    transition: all 1s ease-in;
                } //                    color: #fafafa;
                //                text-shadow: 1px 1px 1px #ffffff;
            }
        }


    }
    ;
}

;


#wrapper-2 {
    z-index: 300;
    height: 100vh;
    width: 100vw;
    position: absolute;
    color: #ffffff;
    top: 100vh;
    left: 100vw;


    & > * > .cite {
        box-shadow: 14px 14px 0px 0px #fafafa;
        .author {
            box-shadow: 14px 14px 0px 0px #121212;
        }
    }

    .pre-left,
    .pre-right {
        position: relative;
        margin-top: 130px;

        .cite {
            position: relative;
            display: block;
            top: 40px;
            width: 80%;
            margin: 0 auto;
            padding: 10px;
            background: #101010;

            & > .author {
                position: relative;
                left: 50px;
                background: #fafafa;
                color: #010101;
                padding: 10px;
                transform: translate(0px, 0px);
                transition: all 1.3s ease-in;

            }

        }
        .author {
            font-size: 30px;
            float: right;
            background: #101010;
            position: relative;
            left: 10px;
            top: 20px;
        }
    }
    & > div.pre-left {
        transform: translate(0px, 0px);
        transition: all 1s ease-in;
        opacity: 1;
        position: relative;
        margin-top: 130px;
    }

    & > div.pre-right {
        transform: translate(0px, 0px);
        transition: all 1s ease-in;
        transition-delay: .5s;
        opacity: 1;

        position: relative;
        margin-top: 130px;
    }


    & > .left {
        transition: translate 3s ease-in;
        transform: translate(-2000px, -1000px);
        z-index: -10;
        opacity: 0;
        & .author {
            transform: translate(3000px, -1000px);
        }
    }
    & > .right {
        transform: translate(2000px, 1000px);
        transition: translate 3s ease-in;
        & .author {
            transform: translate(-7000px, 1000px);
            transition: translate 3s ease-in;
            box-shadow: 0px 0px 0px 0px #121212;
        }


    }

}

footer {
    //        clear: both;
    //    position: relative;
    //    top:90px;
    //    z-index: 10;
    //    height: 3em;
    //    margin-top: 3em;
    //    background-color: #000;
    //    color: #777;
    //    font-size: 13px;
    //    line-height: 3em;
    //    padding-left: 40px;
}