@import "partials/mixins";
@import "partials/metter";
@import "partials/loader";
section {
    position: relative;
    left: 60px;
    top: 100px;
    min-height: 500px;
    input {
        margin: 20px 20px 20px 0px;
    }
    .submit {
        position: relative;
        left: -100px;
        top: 20px;
        @include submit();
    }
    .hidden {
        opacity: 0;

    }
    .alert {
        transition: all 1s ease-in;
        margin-left: 40px;
        color: #ff0000;
    }
}

footer { display: none;
}


