@import '../partials/animations';




body {

    /**nr 0**/
    &.nr0 {

        @media(max-width: 700px) {

            #menu {
                top: 130px;
                transform: none;
            }
        }
    }


    &.nr0 footer {
        position: absolute;
        display: none;
    }

    /**nr 1**/
    &.nr1 {


        //     @media(max-width: 700px) {

        div.arrows-wrapper {
            .arrow-up {
                bottom: 0px;
                //                    top: -60px;
            }

            .arrow-down {
                @media(min-width: 701px) {
                    transform: rotate(0deg);
                }

                //                    transition: all 1s ease-in;
            }
        }

        #menu {
            transform: translate(0vw, 100vh);
        }

        //}
        footer {
            display: block;
            position: fixed;


        }


    }

    &.nr2 {


        #menu {
            //            margin-top: 100px;
            z-index: 301;
            transform: translate(100vw, 100vh);

            @media(max-width: 700px) {
                transform: translate(0vw, 200vh);
            }
        }


     


        @media(min-width:701px) {
            .arrow-down {
                transform: rotate(-90deg);
            }
    
            .arrow-up {
                transform: rotate(180deg);
            }
        }

      

        @media(max-width:700px) {

            #main-menu-button {
                right: 20px;
            }

            //            footer {
            //                transform: translateY(76vh);
            //            }
        }

        #main-menu-button {
            transform: translateX(-20px);
        }


        #header {
            transform: translateX(10px);
        }



        footer {
            display: block;
            position: fixed;

            @media(max-width: 700px) {
                left: 0px;
            }
        }

        @media(max-width: 700px) {

            #wrapper-3 #introduction {
                left: 0px ;
            }
        }
    }


    &.nr3 {

        // #header {
        //     transform: translate(10px, 0px);
        // }

        #menu {
            transform: translate(100vw, 0px);
            z-index: 301;
            width: 100%; //    margin-left: 10px;

            @media(max-width: 700px) {
                /* mobile */
                transform: translateY(300vh);
            }
        }

        @media(min-width: 701px) {
            .arrow-up {
                transform: rotate(180deg);
            }
        }

        @media (max-width:700px) {

            .arrow-down {
                display: none;
            }

            .arrow-up {
                left: 40px;
                transform: translateX(-20px) rotate(-90deg);
            }
        }

        #main-menu-button {
            transform: translateX(-10px);
        }



        footer {
            //            transform: translateY(-100px);
            //    margin-top: -100px;
            bottom: 0px;
            position: fixed;
            display: block;
            top: 103vh;
          //  transform: translateY(-141px);

            @media(max-width: 700px) {
                position: absolute   ;
                bottom: 0px;
                top: 300vh;
                transform: translateY(94vh);
                margin-top: -55px;



            }

        }
    }



}