@import "_mixins.scss";
@import "_variables.scss";
@include keyframes(fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: block;
    }
}

@include keyframes(activeArrow) {
    0% {margin-left: 0px;
    top: 10px}
    30% {
        margin-left: 10px;
        top: 0px;
    }
    45% {margin-left: 0px;
                top: 10px;
    }
    50% {margin-left: 10px;
            top: 0px;
    }
    65% {margin-left: 0px;
            top: 10px;
    }
    75% {margin-left: 10px;
            top: 0px;
    }
    80% {margin-left: 0px;
            top: 10px;
    }
    100% {margin-left: 0px;
            top:     0px;
    }
}



@include keyframes(activeUpArrow) {
    0% {margin-bottom: 0px;}
    30% {margin-bottom: 10px;}
    45% {margin-bottom: 0px;}
    60% {margin-bottom: 10px;}
    75% {margin-bottom: 0px;}
    90% {margin-bottom: 10px;}
    100% {margin-bottom: 0px;}
    
    
    
}



@include keyframes(activeUpArrow2) {
        0% {margin-left: 0px;
    top: 10px}
    30% {
        margin-left: 10px;
        top: 0px;
    }
    45% {margin-left: 0px;
                top: 10px;
    }
    50% {margin-left: 10px;
            top: 0px;
    }
    65% {margin-left: 0px;
            top: 10px;
    }
    75% {margin-left: 10px;
            top: 0px;
    }
    80% {margin-left: 0px;
            top: 10px;
    }
    100% {margin-left: 0px;
            top:     0px;
    }
}
@include keyframes(arrowWrapper3){
    0% {
        opacity: 0;
        top: -300px !important;
    }
    49% {
        opacity: 0;
        transform: rotate(0deg);
         top: -300px !important;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: rotate(180deg) translateY(-170px);
    }
}



@include keyframes(activeDownArrow) {
    0% { bottom: 40px;
        
        }
    30% {
        bottom: 50px;
    }
    45% {
        bottom: 40px;
    }
    60% {
        bottom: 50px;
    }
    75% {
        bottom: 40px;
    }
    90% {
        bottom: 50px;
    }
    100% {
        bottom: 40px;
    }
    
    
    
}


@include keyframes(activeRightArrow) {
    0% {margin-left: 0px;}
    30% {margin-left: 10px;}
    45% {margin-left: 0px;}
    60% {margin-left: 10px;}
    75% {margin-left: 0px;}
    90% {margin-left: 10px;}
    100% {margin-left: 0px;}
    
    
    
}


@include keyframes(fadeOut) {
    0% {
        opacity: 1;
        color: $liColorActive;
    }
    5% {
        transform: translate(-5px,0px);
    }
    10% {
        transform: translateX(5px);
    }
    12% {
        color: lighten($liColorActive, 20);
        transform: translateX(-10px);
    }
    14% {
        transform: translateX(10px);
    }
    16% {
        transform: translateX(-20px);
    }
    
    40% {
        opacity: 1;       
    }
    
    80% {
        color: darken($liColorActive, 20);
    }
    
    99% {
        height: 31px;
    }
    100% {
        opacity: 0;
        height: 0px;
        transform: translateX(-3000px);
        

    }
}




@include keyframes(fadeOut2) {
    0% {
        opacity: 1;
        color: $liColorActive;
    }
    5% {
        transform: translate(-5px,0px);
    }
    10% {
        transform: translateX(5px);
    }
    12% {
        color: lighten($liColorActive, 20);
        transform: translateX(-10px);
    }
    14% {
        transform: translateX(10px);
    }
    16% {
        transform: translateX(-20px);
    }
    
    40% {
        opacity: 1;       
    }
    
    80% {
        color: darken($liColorActive, 20);
    }
    99% {
        height: 31px;
    }
    100% {
        opacity: 0;
        height: 0px;
        transform: translateX(3000px);
        

    }
}





@include keyframes(active) {
    0% {
        background-color: #444444;
        color: #aabbcc;
    }
    20% {
        //      background-color: #ccddbb;
        background-color: #666666;
        color: #99aabb;
    }
    80% {
        //        background-color: #ddeeff;
        background-color: #555555;
        color: #88aabb;
    }
    90% {
        //        background-color: #ddeeff;
        background-color: #445566;
        color: #ccbbdd;
    }
    100% {
        //        background-color: #ffffff;
        background-color: #888888;
        color: #ffffff;
    }
}

@include keyframes(closeButtonOver) {
    0% {
        border-color: $bgColor4;
        color: $bgColor4;
    }
    50% {
        border-color: $bgColor2;
        color: $bgColor2;
    }
    100% {
        border-color: $bgColor4;
        color: $bgColor4;
    }
}

@include keyframes(galWrapperClose) {
    0% {
        opacity: 1;
        height: 100%;
    }
    25% {
        height: 100%;
    }
    30% {
        opacity: .7;
        transform: rotateY(89.9deg);
        height: 200px;
    }
    70% {
        opacity: .7;
        transform: rotateY(89.9deg);
    }
    100% {
        opacity: .7;
        height: 0px;
        transform: rotateY(89.9deg);
    }
}

@include keyframes(switchImage) {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
        background: url(../media/images/abstract.png);
    }
}

@include keyframes(switchImage1) {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    60% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
        background-image: url(../media/images/abstract.png);
    }
}

@include keyframes(switchImage2) {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    60% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
        background: url(../media/images/abstract.png);
        background-position: 0px 150px;
    }
}

@include keyframes(switchImage3) {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    60% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
        background: url(../media/images/abstract.png);
        background-position: 0px 75px;
    }
}

@include keyframes(deactivateToggleNav) {
    0% {
        //width: 100%;
    }
    50% {
        width: 0%;
    }
    100% {
        width: 100%;
        transform: rotate(0deg);
    }
}

@include keyframes(deactivateToggleNav1) {
    0% {
        transform: rotate(405deg);
    }
    50% {
        width: 0%;
    }
    100% {
        width: 100%;
        transform: rotate(0deg);
    }
}

@include keyframes(deactivateToggleNav2) {
    0% {
        transform: rotate(-405deg);
    }
    50% {
        //        width: 0%;
    }
    100% {
        width: 100%;
        transform: rotate(0deg);
    }
}

@include keyframes(activateToggleNav) {
    0% {
        width: 100%;
    }
    50% {
        transform: rotate(0deg);
        width: 0%;
    }
    100% {
        width: 100%;
        transform: translate(-5px, 10px) rotate(405deg);
    }
}

@include keyframes(activateToggleNav2) {
    0% {
        width: 100%;
    }
    1% {
        width: 100%;
    }
    50% {
        transform: rotate(0deg);
        width: 0px;
    }
    100% {
        width: 0px;
        // display: none;
    }
}

@include keyframes(activateToggleNav3) {
    0% {
        width: 100%;
    }
    50% {
        width: 0%;
        transform: rotate(0deg);
    }
    100% {
        width: 100%;
        transform: translate(-5px, -10px) rotate(-405deg);
    }
}

@include keyframes(hoverLink) {
    0% {
        color: darken($liBg, 40%);
    }
    10% {
        color: darken($liBg, 50%);
    }
    30% {
        color: darken($liBg, 10%);
    }
    100% {
        color: darken($liBg, 20%);
    }
}



@include keyframes(logoutLink) {
    0% {
        opacity: .7;
        font-weight: 200;
    }
    2% {
        opacity: .4;
        font-weight: 100;                    
    }
    4% {
        opacity: .7;
        font-weight: 300;                    
    }
    
    7% {
        opacity: .4;
        font-weight: 200;                    
    }
    
    15% {
        opacity: .8;
        font-weight: 400;                    
    }
    
    30% {
        opacity: .5;
        font-weight: 300;                    
    }
    50% {
        opacity: .9;
        font-weight: 500;                    
    }
    
    80% {
        opacity: .7;
        font-weight: 700;                    
    }
    90% {
        opacity: .9;
    }



    
    100% {
        opacity: 1;
    }
}

@include keyframes(filter) {
    0%{
        filter: urgrayscale(0%) blur(0px);

    }
    20%{

        filter: grayscale(50%) blur(2px);
        
    }
    80%{
        filter: grayscale(100%) blur(5x);

    }
//    }
    100%{
        filter: grayscale(100%) blur(10px);

    }
};

@include keyframes(pulse) {
    0%{ 
//        transform: scale(1,1);
                filter: blur(0px);
        
    }
    10%{
//        transform: scale(1.05,1.05);
                filter: blur(1x);
     }
    20%{
//        transform: scale(1,1);
        filter: blur(0px);
    }
    30%{
//        transform: scale(1.05,1.05);
                filter: blur(2px);
     }

    
        40%{
//        transform: scale(1,1);
        filter: blur(0px);
    }

        50%{
//        transform: scale(1,1);
        filter: blur(2px);
    }

    
    100%{
//    transform: scale(1.05,1.05);
                filter: blur(0px);
//    font-weight: 900;

    }
}

@include keyframes(shadowDown){
    0%{
    }
//    90%{
//        box-shadow: inset 1px 20px 1px 2px rgba(200,200,200,.5);
//    }
    100% {
        box-shadow: inset 1px 40px 1px 2px rgba(100,100,100,.4), inset 400px 0px 1px 2px rgba(14,14,14,.5);
        
    }
}




@include keyframes(shadowDownBrown){
    0%{
        
    }
//    90%{
//        box-shadow: inset 1px 20px 1px 2px rgba(200,200,200,.5);
//    }
    100% {
        box-shadow: inset 1px 40px 1px 2px $colorInv, inset 400px 0px 1px 2px rgba(115,101,67,.5);
        
    }
}

@include keyframes(shadowDownMore){
    0%{
            box-shadow: inset 0px 0px 1px 2px rgba(100,100,100,1);
    }

    
    
    100% {
        box-shadow: inset 1px 40px 1px 2px rgba(100,100,100,1);
        
    }
}

@include keyframes(shadowDownMoreBrown){
    0%{
        
    }
//    90%{
//        box-shadow: inset 1px 20px 1px 2px rgba(200,200,200,.5);
//    }
    100% {
        box-shadow: inset 1px 40px 1px 2px $colorInv, inset 400px 0px 1px 2px rgba(115,101,67,.5);
        
    }
}




@include keyframes(shadowDownMoreRev){
    0%{
        box-shadow: inset 1px 40px 1px 2px rgba(100,100,100,1), inset 400px 0px 1px 2px rgba(14,14,14,.5);
    }
//    90%{
//        box-shadow: inset 1px 20px 1px 2px rgba(200,200,200,.5);
//    }
    100% {
        
    }
}

@include keyframes(shadowDownBrownMore){
    0%{
        box-shadow: inset 0px 0px 1px 1px $colorInv;
    }
    50%{
                           
    }
    100% {

            box-shadow: inset 150px 0px 1px 1px $colorInv; 
    }
}







@include keyframes(shadowUp){
    0%{
//            box-shadow: inset 1px 40px 1px 2px rgba(100,100,100,1), inset 400px 0px 1px 2px darken(rgba(142,29,7,0),90%);
    letter-spacing: .1em;
    font-weight: 300;
                
        
    }
    
     50%{
//            box-shadow: inset 1px 40px 1px 2px rgba(100,100,100,1), inset 400px 0px 1px 2px darken(rgba(142,29,7,0),90%);
    letter-spacing: .2em;
    font-weight: 550;
                
        
    }

    
    100% {
//        box-shadow: inset 0px 0px 1px 2px rgba5(100,100,100,0), inset 0px 0px 1px 2px darken(rgba(142,29,7,0),40%);
letter-spacing: .3em;
    font-weight: 800;
        
    }
}

@include keyframes(hide){
    0% { 
        opacity: 1;
        display: block;
    }
    90% {
        opacity: 1;

    }
        92% {
        opacity: .7;

    }
        93% {
        opacity: .9;

    }
    94% {
        opacity: .6;

    }
    
        95% {
        opacity: .5;

    }
    
       96% {
        opacity: .7;

    }
       97% {
        opacity: .5;

    }


    
    
    100% {
        opacity: 0;
        display: none;
    }
}