#categories {
    & > div {
        & > a > div.shining {
            left: 400px;
            width: 800px;
            height: 600px;
        }
        & > a > div.shining2 {
            left: -300px;
            width: 800px;
            height: 600px;
        }
    }
}