input {
    position: relative;
    left: 0px;
    margin-bottom: 20px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0); //    padding: 10px;
    border-left: none;
    border-right: none;



    height: 30px;
    color: #ffffff;
    font-size: 25px;
    border-radius: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    text-align: right;
    padding-right: 15px;
    margin-left: 100px;
    caret-color: #000000;

    @media(max-width: 700px) {
        margin-left: 20px;
    }

    &[type="submit"] {
        border: 1px solid #ffffff;
        text-align: center;
        float: right;
        position: absolute;

        left: 147px;

        @media(max-width: 700px) {
            left: 127px;

        }

        padding: 0px 10px; //
        height: 30px;
        line-height: 30px;
        margin-right: 40px;
        transition: all 1s ease-out;

        background: #8e1d07;
        color: #e4dfd1;
        animation-name: shadowDownMore, shadowDownBrownMore;
        animation-duration: .5s,
        1s;
        animation-fill-mode: forwards,
        forwards;
        animation-direction: normal,
        normal;

        &:hover {


            transition: all 1s ease-in;
            border: 1px solid #ffffff;
            color: darken(#333, 20%);
            animation-name: shadowDownMoreRev, shadowDownMoreRev;
            animation-duration: 1s, 1s;
            animation-fill-mode: forwards, forwards;

        }

    }

    //    transform:translateY(20px);
    //    margin-top: 30px;
    //    margin: 30px 20px;
}