    #header {
        font-family: 'Source Code Pro', monospace;
        text-transform: uppercase;
        width: 100%;
        height: 50px;
        top: 0px;
        padding-left:10px;
        letter-spacing: .3em;
        font-weight: 300;
        text-decoration: none;
        transition: all 1s linear;
        background-color: $bodyColor;
        z-index: 200;

        //    position: fixed
        transition: all 1s linear;

        #main-title {

            &.hidden {
                transition: all 1s linear;
                filter: blur(20px);
            }
        }

        a {
            margin: 10px;
            transform: translateY(10px);
            color: #ffffff;//lighten($liBg, 30);
            float: left;
            text-decoration: none;

            strong {
                font-weight: 900;
            }
        }

        nav {
           
            float: right;
           
            @import './menu-button';
        }

        >div {
            color: #ffffff;
            width: 100px;
            float: right;
            line-height: 45px;
        }

    }

    
    
    #eagle {
        width: 60px;
        height: 60px;
        //   position: relative;
        display: block;
        opacity: .4;
        // transform: translate(-75px,10px);
        transition: none;
        animation: none;
        position: absolute;
        transition: none;
        left: 250px;
        top: 10px;
        z-index: 900;
        @media (max-device-width: 700px) {
            margin-top: 20px;
        }


    }