.loader,
.loader:before,
.loader:after {
    position: absolute;
    top:200px;
    left:50%;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
  z-index: 1200;
}


.loader {
  color: #ababab;
  font-size: 10px;
  margin: 80px auto;


  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;

    &.hidden {
        display: none;
    }
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;

  animation-delay: -0.7s;
}
.loader:after {
  left: 3.5em;
}

@keyframes load7 {
  0%,
  50%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
