@import 'animations';

@font-face {
    font-weight: bold;
    src: url("../fonts/nimbusmono-bold.otf") format("opentype");
}

body {
    > div.background {
            z-index: -1;
        width: 100%;
        height: 100%;
        background: url("../../images/tacos.jpg");
        position: absolute;
        animation-name: filter;
        animation-duration: 3s;
        animation-fill-mode: forwards;

    }
}

#main-menu-button {
    float: left;
    text-align: center;
    background-color: #112233;
    color: #ababab;
    height: 50px;
    line-height: 50px;
    width: 200px;
    border-radius: 15px;

}


nav#menu {
    height: 100%;
}

nav#menu > .links {
    width: 100%;
    > li {
        height: 80px;
        line-height: 80px;
        padding: 20px;
        width: 100%;
        & > input {
            outline: none;
            font-size: 10px;
            text-align: center;
            margin: 0 auto;
            border-left-width: 0px;
            border-right-width: 0px;
            border: none !important;
//                border-top:2px solid darken(#ffffff,50%);
//                border-bottom:2px solid darken(#ffffff,50%);
            &:focus {
                transition: all 1s linear;
                outline: none;
                              //  border-top:2px solid darken(#ffffff,0%);
//                border-bottom:2px solid darken(#ffffff,0%);

            }
        }
        ;
        &#login-button {
            width: 90px;
            height: 30px;
            line-height: 30px;
            margin-left: 295px;
            -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
            -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
            box-shadow: inset 0px 1px 3px 0px #91b8b3;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
            background: -moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
            background: -webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
            background: -o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
            background: -ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
            background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c', GradientType=0);
            background-color: #768d87;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
           // border: 1px solid #566963;
            padding: 0px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;

            text-align: center;
            text-decoration: none;
            text-transform: lowercase;
            text-shadow: 0px -1px 0px #2b665e;


            //            background: lighten(#333,10%);
            //            outline: 0px;
            //            width: 100px;
            //            float: left;
            //            margin: auto auto -50px 173px;
            //            padding: 5px 30px;
            //            text-align: center;
            //            height: 30px;
            //            line-height: 30px;
            //            outline: 3px solid #000000;
            //             font-family: 'Source Code Pro', monospace;
            //            letter-spacing: .2em;
            //            cursor: pointer;
            //            -moz-user-select: none;
            //            user-select: none;
            &:hover {
                animation-name: pulse;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                //                transform: scale(1.2, 1.2);
            }

        }
        strong {
            margin-right: 30px;
        }
        input {
            background: rgba(11,11,11,0);
            height: 30px;
            color: #ffffff;
            font-size: 25px;
            border-radius: 0px;
//            box-shadow: 1px 1px 32px #fafafa;
//            background: #ababab;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            text-align: right;
            padding-right: 15px;
            margin-left: 150px;
            caret-color: #000000;
            
        }
        
        
        input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(11,11,11,0) inset;
}
        
    }
}


.incorrect-login {
    //    position: absolute;
    //    padding-top: 70px;
    //    margin: 30px auto 30px 30px;
    //    
    //    top: 0px;
    //    left: 0px;
    //    width: 100%;
    //    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 400px;
    text-align: center;
    line-height: 200px;
    color: red;
    background-color: rgba(12, 12, 12, .5);
    transition: all 1s linear;
    > div {
        transition: all 1s ease-in; //        position: relative;
        width: 100px;
        margin: 0 auto;
        line-height: 20px; //        top: 50px;
        font-weight: 700;
        color: #ffffff;
        padding: 10px; //        border-radius: 10px;
        cursor: pointer;
        outline: 1px solid #ababab;
        transform: translateY(100px); //top: 600px;
        &:hover {
            transition: all 1s ease-out;
            background-color: #ffffff;
            color: #000000;
        }
    }

}

#wrong-login {
    height: 0px;
    width: 0px;
    z-index: 130;
    background: rgba(22, 22, 22, 0);
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 500px;
    text-align: center;
    color: red;
    font-size: 20px;
    //        transition: all 1s linear;
    transition: background 1s linear, opacity 1s linear, width 0s linear, height 0s linear;

    &.visible {
        width: 100%;
        height: 100%;
        transition: background 1s linear, opacity 1s linear, width 0s, height 0s;
        display: block;
        background: rgba(22, 22, 22, .7);
        opacity: 1;
        z-index: 600;
        & > #cross {
            transform: translate(0px, -220px); /////////
            position: absolute;

            height: 40px;
            width: 20px;
            top: 10px;
            right: 10px;
            & > svg {
                height: 20px;
                width: 20px;

                display: block;
            }
        }
    }
}


