$darken: rgb(51,51,51);



$bodyColor: rgba(0,0,0,1);
$contentBg: #eee;
$toggleBg: #445566;
$liColor: #A0AC89;
$liBg: #414E6C;
$liOutline: #667788;
$liBgActive: #99B3EB;
$liColorActive: #464b3c;
$footerBg: #000000;
$toggleMenuDivBg: #9f776f; 

$moveToTopColor: #ffaabb;
$moveToTopBg: #333333;


$bgColor1: #ffffff;
$bgColor2: #333333;
$bgColor3: #91989a;
$bgColor4: #000000;
$fontColor1: #aabbcc;
$fontColor2: #bbccdd;
$mainBg: hsla(210, 50%, 13%, .1);
$mainColor: hsla(53, 65%, 48%, .1);

$bg1: #9f776f;


$colorInv: rgba(0,0,0,1);
//$color0: rgba(141,101,7,1);
$color0: rgba(0,0,0,1);
//$color1: rgba(152,94,8,1);   
$color1: rgba(152,94,8,1);   
$color2: rgba(129,59,0,1);   
$color3: rgba(152,53,8,1);   
$color4: rgba(142,29,7,1);


$bgOverBg: rgba(51,51,51,.8);


//$tablet: "(min-width: 768px) and (max-width: 1023px)";
//$desktop: "(min-width: 1024px)";
$tablet: "(max-width: 700px)";
$desktop: "(min-width: 701px)";