@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    display: block; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    display: block; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    display: block; } }
@-webkit-keyframes activeArrow {
  0% {
    margin-left: 0px;
    top: 10px; }
  30% {
    margin-left: 10px;
    top: 0px; }
  45% {
    margin-left: 0px;
    top: 10px; }
  50% {
    margin-left: 10px;
    top: 0px; }
  65% {
    margin-left: 0px;
    top: 10px; }
  75% {
    margin-left: 10px;
    top: 0px; }
  80% {
    margin-left: 0px;
    top: 10px; }
  100% {
    margin-left: 0px;
    top: 0px; } }
@-moz-keyframes activeArrow {
  0% {
    margin-left: 0px;
    top: 10px; }
  30% {
    margin-left: 10px;
    top: 0px; }
  45% {
    margin-left: 0px;
    top: 10px; }
  50% {
    margin-left: 10px;
    top: 0px; }
  65% {
    margin-left: 0px;
    top: 10px; }
  75% {
    margin-left: 10px;
    top: 0px; }
  80% {
    margin-left: 0px;
    top: 10px; }
  100% {
    margin-left: 0px;
    top: 0px; } }
@keyframes activeArrow {
  0% {
    margin-left: 0px;
    top: 10px; }
  30% {
    margin-left: 10px;
    top: 0px; }
  45% {
    margin-left: 0px;
    top: 10px; }
  50% {
    margin-left: 10px;
    top: 0px; }
  65% {
    margin-left: 0px;
    top: 10px; }
  75% {
    margin-left: 10px;
    top: 0px; }
  80% {
    margin-left: 0px;
    top: 10px; }
  100% {
    margin-left: 0px;
    top: 0px; } }
@-webkit-keyframes activeUpArrow {
  0% {
    margin-bottom: 0px; }
  30% {
    margin-bottom: 10px; }
  45% {
    margin-bottom: 0px; }
  60% {
    margin-bottom: 10px; }
  75% {
    margin-bottom: 0px; }
  90% {
    margin-bottom: 10px; }
  100% {
    margin-bottom: 0px; } }
@-moz-keyframes activeUpArrow {
  0% {
    margin-bottom: 0px; }
  30% {
    margin-bottom: 10px; }
  45% {
    margin-bottom: 0px; }
  60% {
    margin-bottom: 10px; }
  75% {
    margin-bottom: 0px; }
  90% {
    margin-bottom: 10px; }
  100% {
    margin-bottom: 0px; } }
@keyframes activeUpArrow {
  0% {
    margin-bottom: 0px; }
  30% {
    margin-bottom: 10px; }
  45% {
    margin-bottom: 0px; }
  60% {
    margin-bottom: 10px; }
  75% {
    margin-bottom: 0px; }
  90% {
    margin-bottom: 10px; }
  100% {
    margin-bottom: 0px; } }
@-webkit-keyframes activeUpArrow2 {
  0% {
    margin-left: 0px;
    top: 10px; }
  30% {
    margin-left: 10px;
    top: 0px; }
  45% {
    margin-left: 0px;
    top: 10px; }
  50% {
    margin-left: 10px;
    top: 0px; }
  65% {
    margin-left: 0px;
    top: 10px; }
  75% {
    margin-left: 10px;
    top: 0px; }
  80% {
    margin-left: 0px;
    top: 10px; }
  100% {
    margin-left: 0px;
    top: 0px; } }
@-moz-keyframes activeUpArrow2 {
  0% {
    margin-left: 0px;
    top: 10px; }
  30% {
    margin-left: 10px;
    top: 0px; }
  45% {
    margin-left: 0px;
    top: 10px; }
  50% {
    margin-left: 10px;
    top: 0px; }
  65% {
    margin-left: 0px;
    top: 10px; }
  75% {
    margin-left: 10px;
    top: 0px; }
  80% {
    margin-left: 0px;
    top: 10px; }
  100% {
    margin-left: 0px;
    top: 0px; } }
@keyframes activeUpArrow2 {
  0% {
    margin-left: 0px;
    top: 10px; }
  30% {
    margin-left: 10px;
    top: 0px; }
  45% {
    margin-left: 0px;
    top: 10px; }
  50% {
    margin-left: 10px;
    top: 0px; }
  65% {
    margin-left: 0px;
    top: 10px; }
  75% {
    margin-left: 10px;
    top: 0px; }
  80% {
    margin-left: 0px;
    top: 10px; }
  100% {
    margin-left: 0px;
    top: 0px; } }
@-webkit-keyframes arrowWrapper3 {
  0% {
    opacity: 0;
    top: -300px !important; }
  49% {
    opacity: 0;
    transform: rotate(0deg);
    top: -300px !important; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: rotate(180deg) translateY(-170px); } }
@-moz-keyframes arrowWrapper3 {
  0% {
    opacity: 0;
    top: -300px !important; }
  49% {
    opacity: 0;
    transform: rotate(0deg);
    top: -300px !important; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: rotate(180deg) translateY(-170px); } }
@keyframes arrowWrapper3 {
  0% {
    opacity: 0;
    top: -300px !important; }
  49% {
    opacity: 0;
    transform: rotate(0deg);
    top: -300px !important; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: rotate(180deg) translateY(-170px); } }
@-webkit-keyframes activeDownArrow {
  0% {
    bottom: 40px; }
  30% {
    bottom: 50px; }
  45% {
    bottom: 40px; }
  60% {
    bottom: 50px; }
  75% {
    bottom: 40px; }
  90% {
    bottom: 50px; }
  100% {
    bottom: 40px; } }
@-moz-keyframes activeDownArrow {
  0% {
    bottom: 40px; }
  30% {
    bottom: 50px; }
  45% {
    bottom: 40px; }
  60% {
    bottom: 50px; }
  75% {
    bottom: 40px; }
  90% {
    bottom: 50px; }
  100% {
    bottom: 40px; } }
@keyframes activeDownArrow {
  0% {
    bottom: 40px; }
  30% {
    bottom: 50px; }
  45% {
    bottom: 40px; }
  60% {
    bottom: 50px; }
  75% {
    bottom: 40px; }
  90% {
    bottom: 50px; }
  100% {
    bottom: 40px; } }
@-webkit-keyframes activeRightArrow {
  0% {
    margin-left: 0px; }
  30% {
    margin-left: 10px; }
  45% {
    margin-left: 0px; }
  60% {
    margin-left: 10px; }
  75% {
    margin-left: 0px; }
  90% {
    margin-left: 10px; }
  100% {
    margin-left: 0px; } }
@-moz-keyframes activeRightArrow {
  0% {
    margin-left: 0px; }
  30% {
    margin-left: 10px; }
  45% {
    margin-left: 0px; }
  60% {
    margin-left: 10px; }
  75% {
    margin-left: 0px; }
  90% {
    margin-left: 10px; }
  100% {
    margin-left: 0px; } }
@keyframes activeRightArrow {
  0% {
    margin-left: 0px; }
  30% {
    margin-left: 10px; }
  45% {
    margin-left: 0px; }
  60% {
    margin-left: 10px; }
  75% {
    margin-left: 0px; }
  90% {
    margin-left: 10px; }
  100% {
    margin-left: 0px; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    color: #464b3c; }
  5% {
    transform: translate(-5px, 0px); }
  10% {
    transform: translateX(5px); }
  12% {
    color: #7b8469;
    transform: translateX(-10px); }
  14% {
    transform: translateX(10px); }
  16% {
    transform: translateX(-20px); }
  40% {
    opacity: 1; }
  80% {
    color: #11120f; }
  99% {
    height: 31px; }
  100% {
    opacity: 0;
    height: 0px;
    transform: translateX(-3000px); } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    color: #464b3c; }
  5% {
    transform: translate(-5px, 0px); }
  10% {
    transform: translateX(5px); }
  12% {
    color: #7b8469;
    transform: translateX(-10px); }
  14% {
    transform: translateX(10px); }
  16% {
    transform: translateX(-20px); }
  40% {
    opacity: 1; }
  80% {
    color: #11120f; }
  99% {
    height: 31px; }
  100% {
    opacity: 0;
    height: 0px;
    transform: translateX(-3000px); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    color: #464b3c; }
  5% {
    transform: translate(-5px, 0px); }
  10% {
    transform: translateX(5px); }
  12% {
    color: #7b8469;
    transform: translateX(-10px); }
  14% {
    transform: translateX(10px); }
  16% {
    transform: translateX(-20px); }
  40% {
    opacity: 1; }
  80% {
    color: #11120f; }
  99% {
    height: 31px; }
  100% {
    opacity: 0;
    height: 0px;
    transform: translateX(-3000px); } }
@-webkit-keyframes fadeOut2 {
  0% {
    opacity: 1;
    color: #464b3c; }
  5% {
    transform: translate(-5px, 0px); }
  10% {
    transform: translateX(5px); }
  12% {
    color: #7b8469;
    transform: translateX(-10px); }
  14% {
    transform: translateX(10px); }
  16% {
    transform: translateX(-20px); }
  40% {
    opacity: 1; }
  80% {
    color: #11120f; }
  99% {
    height: 31px; }
  100% {
    opacity: 0;
    height: 0px;
    transform: translateX(3000px); } }
@-moz-keyframes fadeOut2 {
  0% {
    opacity: 1;
    color: #464b3c; }
  5% {
    transform: translate(-5px, 0px); }
  10% {
    transform: translateX(5px); }
  12% {
    color: #7b8469;
    transform: translateX(-10px); }
  14% {
    transform: translateX(10px); }
  16% {
    transform: translateX(-20px); }
  40% {
    opacity: 1; }
  80% {
    color: #11120f; }
  99% {
    height: 31px; }
  100% {
    opacity: 0;
    height: 0px;
    transform: translateX(3000px); } }
@keyframes fadeOut2 {
  0% {
    opacity: 1;
    color: #464b3c; }
  5% {
    transform: translate(-5px, 0px); }
  10% {
    transform: translateX(5px); }
  12% {
    color: #7b8469;
    transform: translateX(-10px); }
  14% {
    transform: translateX(10px); }
  16% {
    transform: translateX(-20px); }
  40% {
    opacity: 1; }
  80% {
    color: #11120f; }
  99% {
    height: 31px; }
  100% {
    opacity: 0;
    height: 0px;
    transform: translateX(3000px); } }
@-webkit-keyframes active {
  0% {
    background-color: #444444;
    color: #aabbcc; }
  20% {
    background-color: #666666;
    color: #99aabb; }
  80% {
    background-color: #555555;
    color: #88aabb; }
  90% {
    background-color: #445566;
    color: #ccbbdd; }
  100% {
    background-color: #888888;
    color: #ffffff; } }
@-moz-keyframes active {
  0% {
    background-color: #444444;
    color: #aabbcc; }
  20% {
    background-color: #666666;
    color: #99aabb; }
  80% {
    background-color: #555555;
    color: #88aabb; }
  90% {
    background-color: #445566;
    color: #ccbbdd; }
  100% {
    background-color: #888888;
    color: #ffffff; } }
@keyframes active {
  0% {
    background-color: #444444;
    color: #aabbcc; }
  20% {
    background-color: #666666;
    color: #99aabb; }
  80% {
    background-color: #555555;
    color: #88aabb; }
  90% {
    background-color: #445566;
    color: #ccbbdd; }
  100% {
    background-color: #888888;
    color: #ffffff; } }
@-webkit-keyframes closeButtonOver {
  0% {
    border-color: #000000;
    color: #000000; }
  50% {
    border-color: #333333;
    color: #333333; }
  100% {
    border-color: #000000;
    color: #000000; } }
@-moz-keyframes closeButtonOver {
  0% {
    border-color: #000000;
    color: #000000; }
  50% {
    border-color: #333333;
    color: #333333; }
  100% {
    border-color: #000000;
    color: #000000; } }
@keyframes closeButtonOver {
  0% {
    border-color: #000000;
    color: #000000; }
  50% {
    border-color: #333333;
    color: #333333; }
  100% {
    border-color: #000000;
    color: #000000; } }
@-webkit-keyframes galWrapperClose {
  0% {
    opacity: 1;
    height: 100%; }
  25% {
    height: 100%; }
  30% {
    opacity: .7;
    transform: rotateY(89.9deg);
    height: 200px; }
  70% {
    opacity: .7;
    transform: rotateY(89.9deg); }
  100% {
    opacity: .7;
    height: 0px;
    transform: rotateY(89.9deg); } }
@-moz-keyframes galWrapperClose {
  0% {
    opacity: 1;
    height: 100%; }
  25% {
    height: 100%; }
  30% {
    opacity: .7;
    transform: rotateY(89.9deg);
    height: 200px; }
  70% {
    opacity: .7;
    transform: rotateY(89.9deg); }
  100% {
    opacity: .7;
    height: 0px;
    transform: rotateY(89.9deg); } }
@keyframes galWrapperClose {
  0% {
    opacity: 1;
    height: 100%; }
  25% {
    height: 100%; }
  30% {
    opacity: .7;
    transform: rotateY(89.9deg);
    height: 200px; }
  70% {
    opacity: .7;
    transform: rotateY(89.9deg); }
  100% {
    opacity: .7;
    height: 0px;
    transform: rotateY(89.9deg); } }
@-webkit-keyframes switchImage {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg);
    background: url(../media/images/abstract.png); } }
@-moz-keyframes switchImage {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg);
    background: url(../media/images/abstract.png); } }
@keyframes switchImage {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg);
    background: url(../media/images/abstract.png); } }
@-webkit-keyframes switchImage1 {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(90deg); }
  60% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg);
    background-image: url(../media/images/abstract.png); } }
@-moz-keyframes switchImage1 {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(90deg); }
  60% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg);
    background-image: url(../media/images/abstract.png); } }
@keyframes switchImage1 {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(90deg); }
  60% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg);
    background-image: url(../media/images/abstract.png); } }
@-webkit-keyframes switchImage2 {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(90deg); }
  60% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg);
    background: url(../media/images/abstract.png);
    background-position: 0px 150px; } }
@-moz-keyframes switchImage2 {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(90deg); }
  60% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg);
    background: url(../media/images/abstract.png);
    background-position: 0px 150px; } }
@keyframes switchImage2 {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(90deg); }
  60% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg);
    background: url(../media/images/abstract.png);
    background-position: 0px 150px; } }
@-webkit-keyframes switchImage3 {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(90deg); }
  60% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg);
    background: url(../media/images/abstract.png);
    background-position: 0px 75px; } }
@-moz-keyframes switchImage3 {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(90deg); }
  60% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg);
    background: url(../media/images/abstract.png);
    background-position: 0px 75px; } }
@keyframes switchImage3 {
  0% {
    transform: rotateX(0deg); }
  50% {
    transform: rotateX(90deg); }
  60% {
    transform: rotateX(90deg); }
  100% {
    transform: rotateX(0deg);
    background: url(../media/images/abstract.png);
    background-position: 0px 75px; } }
@-webkit-keyframes deactivateToggleNav {
  50% {
    width: 0%; }
  100% {
    width: 100%;
    transform: rotate(0deg); } }
@-moz-keyframes deactivateToggleNav {
  50% {
    width: 0%; }
  100% {
    width: 100%;
    transform: rotate(0deg); } }
@keyframes deactivateToggleNav {
  50% {
    width: 0%; }
  100% {
    width: 100%;
    transform: rotate(0deg); } }
@-webkit-keyframes deactivateToggleNav1 {
  0% {
    transform: rotate(405deg); }
  50% {
    width: 0%; }
  100% {
    width: 100%;
    transform: rotate(0deg); } }
@-moz-keyframes deactivateToggleNav1 {
  0% {
    transform: rotate(405deg); }
  50% {
    width: 0%; }
  100% {
    width: 100%;
    transform: rotate(0deg); } }
@keyframes deactivateToggleNav1 {
  0% {
    transform: rotate(405deg); }
  50% {
    width: 0%; }
  100% {
    width: 100%;
    transform: rotate(0deg); } }
@-webkit-keyframes deactivateToggleNav2 {
  0% {
    transform: rotate(-405deg); }
  100% {
    width: 100%;
    transform: rotate(0deg); } }
@-moz-keyframes deactivateToggleNav2 {
  0% {
    transform: rotate(-405deg); }
  100% {
    width: 100%;
    transform: rotate(0deg); } }
@keyframes deactivateToggleNav2 {
  0% {
    transform: rotate(-405deg); }
  100% {
    width: 100%;
    transform: rotate(0deg); } }
@-webkit-keyframes activateToggleNav {
  0% {
    width: 100%; }
  50% {
    transform: rotate(0deg);
    width: 0%; }
  100% {
    width: 100%;
    transform: translate(-5px, 10px) rotate(405deg); } }
@-moz-keyframes activateToggleNav {
  0% {
    width: 100%; }
  50% {
    transform: rotate(0deg);
    width: 0%; }
  100% {
    width: 100%;
    transform: translate(-5px, 10px) rotate(405deg); } }
@keyframes activateToggleNav {
  0% {
    width: 100%; }
  50% {
    transform: rotate(0deg);
    width: 0%; }
  100% {
    width: 100%;
    transform: translate(-5px, 10px) rotate(405deg); } }
@-webkit-keyframes activateToggleNav2 {
  0% {
    width: 100%; }
  1% {
    width: 100%; }
  50% {
    transform: rotate(0deg);
    width: 0px; }
  100% {
    width: 0px; } }
@-moz-keyframes activateToggleNav2 {
  0% {
    width: 100%; }
  1% {
    width: 100%; }
  50% {
    transform: rotate(0deg);
    width: 0px; }
  100% {
    width: 0px; } }
@keyframes activateToggleNav2 {
  0% {
    width: 100%; }
  1% {
    width: 100%; }
  50% {
    transform: rotate(0deg);
    width: 0px; }
  100% {
    width: 0px; } }
@-webkit-keyframes activateToggleNav3 {
  0% {
    width: 100%; }
  50% {
    width: 0%;
    transform: rotate(0deg); }
  100% {
    width: 100%;
    transform: translate(-5px, -10px) rotate(-405deg); } }
@-moz-keyframes activateToggleNav3 {
  0% {
    width: 100%; }
  50% {
    width: 0%;
    transform: rotate(0deg); }
  100% {
    width: 100%;
    transform: translate(-5px, -10px) rotate(-405deg); } }
@keyframes activateToggleNav3 {
  0% {
    width: 100%; }
  50% {
    width: 0%;
    transform: rotate(0deg); }
  100% {
    width: 100%;
    transform: translate(-5px, -10px) rotate(-405deg); } }
@-webkit-keyframes hoverLink {
  0% {
    color: black; }
  10% {
    color: black; }
  30% {
    color: #2e374c; }
  100% {
    color: #1b202c; } }
@-moz-keyframes hoverLink {
  0% {
    color: black; }
  10% {
    color: black; }
  30% {
    color: #2e374c; }
  100% {
    color: #1b202c; } }
@keyframes hoverLink {
  0% {
    color: black; }
  10% {
    color: black; }
  30% {
    color: #2e374c; }
  100% {
    color: #1b202c; } }
@-webkit-keyframes logoutLink {
  0% {
    opacity: .7;
    font-weight: 200; }
  2% {
    opacity: .4;
    font-weight: 100; }
  4% {
    opacity: .7;
    font-weight: 300; }
  7% {
    opacity: .4;
    font-weight: 200; }
  15% {
    opacity: .8;
    font-weight: 400; }
  30% {
    opacity: .5;
    font-weight: 300; }
  50% {
    opacity: .9;
    font-weight: 500; }
  80% {
    opacity: .7;
    font-weight: 700; }
  90% {
    opacity: .9; }
  100% {
    opacity: 1; } }
@-moz-keyframes logoutLink {
  0% {
    opacity: .7;
    font-weight: 200; }
  2% {
    opacity: .4;
    font-weight: 100; }
  4% {
    opacity: .7;
    font-weight: 300; }
  7% {
    opacity: .4;
    font-weight: 200; }
  15% {
    opacity: .8;
    font-weight: 400; }
  30% {
    opacity: .5;
    font-weight: 300; }
  50% {
    opacity: .9;
    font-weight: 500; }
  80% {
    opacity: .7;
    font-weight: 700; }
  90% {
    opacity: .9; }
  100% {
    opacity: 1; } }
@keyframes logoutLink {
  0% {
    opacity: .7;
    font-weight: 200; }
  2% {
    opacity: .4;
    font-weight: 100; }
  4% {
    opacity: .7;
    font-weight: 300; }
  7% {
    opacity: .4;
    font-weight: 200; }
  15% {
    opacity: .8;
    font-weight: 400; }
  30% {
    opacity: .5;
    font-weight: 300; }
  50% {
    opacity: .9;
    font-weight: 500; }
  80% {
    opacity: .7;
    font-weight: 700; }
  90% {
    opacity: .9; }
  100% {
    opacity: 1; } }
@-webkit-keyframes filter {
  0% {
    filter: urgrayscale(0%) blur(0px); }
  20% {
    filter: grayscale(50%) blur(2px); }
  80% {
    filter: grayscale(100%) blur(5x); }
  100% {
    filter: grayscale(100%) blur(10px); } }
@-moz-keyframes filter {
  0% {
    filter: urgrayscale(0%) blur(0px); }
  20% {
    filter: grayscale(50%) blur(2px); }
  80% {
    filter: grayscale(100%) blur(5x); }
  100% {
    filter: grayscale(100%) blur(10px); } }
@keyframes filter {
  0% {
    filter: urgrayscale(0%) blur(0px); }
  20% {
    filter: grayscale(50%) blur(2px); }
  80% {
    filter: grayscale(100%) blur(5x); }
  100% {
    filter: grayscale(100%) blur(10px); } }
@-webkit-keyframes pulse {
  0% {
    filter: blur(0px); }
  10% {
    filter: blur(1x); }
  20% {
    filter: blur(0px); }
  30% {
    filter: blur(2px); }
  40% {
    filter: blur(0px); }
  50% {
    filter: blur(2px); }
  100% {
    filter: blur(0px); } }
@-moz-keyframes pulse {
  0% {
    filter: blur(0px); }
  10% {
    filter: blur(1x); }
  20% {
    filter: blur(0px); }
  30% {
    filter: blur(2px); }
  40% {
    filter: blur(0px); }
  50% {
    filter: blur(2px); }
  100% {
    filter: blur(0px); } }
@keyframes pulse {
  0% {
    filter: blur(0px); }
  10% {
    filter: blur(1x); }
  20% {
    filter: blur(0px); }
  30% {
    filter: blur(2px); }
  40% {
    filter: blur(0px); }
  50% {
    filter: blur(2px); }
  100% {
    filter: blur(0px); } }
@-webkit-keyframes shadowDown {
  100% {
    box-shadow: inset 1px 40px 1px 2px rgba(100, 100, 100, 0.4), inset 400px 0px 1px 2px rgba(14, 14, 14, 0.5); } }
@-moz-keyframes shadowDown {
  100% {
    box-shadow: inset 1px 40px 1px 2px rgba(100, 100, 100, 0.4), inset 400px 0px 1px 2px rgba(14, 14, 14, 0.5); } }
@keyframes shadowDown {
  100% {
    box-shadow: inset 1px 40px 1px 2px rgba(100, 100, 100, 0.4), inset 400px 0px 1px 2px rgba(14, 14, 14, 0.5); } }
@-webkit-keyframes shadowDownBrown {
  100% {
    box-shadow: inset 1px 40px 1px 2px #736543, inset 400px 0px 1px 2px rgba(115, 101, 67, 0.5); } }
@-moz-keyframes shadowDownBrown {
  100% {
    box-shadow: inset 1px 40px 1px 2px #736543, inset 400px 0px 1px 2px rgba(115, 101, 67, 0.5); } }
@keyframes shadowDownBrown {
  100% {
    box-shadow: inset 1px 40px 1px 2px #736543, inset 400px 0px 1px 2px rgba(115, 101, 67, 0.5); } }
@-webkit-keyframes shadowDownMore {
  0% {
    box-shadow: inset 0px 0px 1px 2px #646464; }
  100% {
    box-shadow: inset 1px 40px 1px 2px #646464; } }
@-moz-keyframes shadowDownMore {
  0% {
    box-shadow: inset 0px 0px 1px 2px #646464; }
  100% {
    box-shadow: inset 1px 40px 1px 2px #646464; } }
@keyframes shadowDownMore {
  0% {
    box-shadow: inset 0px 0px 1px 2px #646464; }
  100% {
    box-shadow: inset 1px 40px 1px 2px #646464; } }
@-webkit-keyframes shadowDownMoreBrown {
  100% {
    box-shadow: inset 1px 40px 1px 2px #736543, inset 400px 0px 1px 2px rgba(115, 101, 67, 0.5); } }
@-moz-keyframes shadowDownMoreBrown {
  100% {
    box-shadow: inset 1px 40px 1px 2px #736543, inset 400px 0px 1px 2px rgba(115, 101, 67, 0.5); } }
@keyframes shadowDownMoreBrown {
  100% {
    box-shadow: inset 1px 40px 1px 2px #736543, inset 400px 0px 1px 2px rgba(115, 101, 67, 0.5); } }
@-webkit-keyframes shadowDownMoreRev {
  0% {
    box-shadow: inset 1px 40px 1px 2px #646464, inset 400px 0px 1px 2px rgba(14, 14, 14, 0.5); } }
@-moz-keyframes shadowDownMoreRev {
  0% {
    box-shadow: inset 1px 40px 1px 2px #646464, inset 400px 0px 1px 2px rgba(14, 14, 14, 0.5); } }
@keyframes shadowDownMoreRev {
  0% {
    box-shadow: inset 1px 40px 1px 2px #646464, inset 400px 0px 1px 2px rgba(14, 14, 14, 0.5); } }
@-webkit-keyframes shadowDownBrownMore {
  0% {
    box-shadow: inset 0px 0px 1px 1px #736543; }
  100% {
    box-shadow: inset 150px 0px 1px 1px #736543; } }
@-moz-keyframes shadowDownBrownMore {
  0% {
    box-shadow: inset 0px 0px 1px 1px #736543; }
  100% {
    box-shadow: inset 150px 0px 1px 1px #736543; } }
@keyframes shadowDownBrownMore {
  0% {
    box-shadow: inset 0px 0px 1px 1px #736543; }
  100% {
    box-shadow: inset 150px 0px 1px 1px #736543; } }
@-webkit-keyframes shadowUp {
  0% {
    letter-spacing: .1em;
    font-weight: 300; }
  50% {
    letter-spacing: .2em;
    font-weight: 550; }
  100% {
    letter-spacing: .3em;
    font-weight: 800; } }
@-moz-keyframes shadowUp {
  0% {
    letter-spacing: .1em;
    font-weight: 300; }
  50% {
    letter-spacing: .2em;
    font-weight: 550; }
  100% {
    letter-spacing: .3em;
    font-weight: 800; } }
@keyframes shadowUp {
  0% {
    letter-spacing: .1em;
    font-weight: 300; }
  50% {
    letter-spacing: .2em;
    font-weight: 550; }
  100% {
    letter-spacing: .3em;
    font-weight: 800; } }
@-webkit-keyframes hide {
  0% {
    opacity: 1;
    display: block; }
  90% {
    opacity: 1; }
  92% {
    opacity: .7; }
  93% {
    opacity: .9; }
  94% {
    opacity: .6; }
  95% {
    opacity: .5; }
  96% {
    opacity: .7; }
  97% {
    opacity: .5; }
  100% {
    opacity: 0;
    display: none; } }
@-moz-keyframes hide {
  0% {
    opacity: 1;
    display: block; }
  90% {
    opacity: 1; }
  92% {
    opacity: .7; }
  93% {
    opacity: .9; }
  94% {
    opacity: .6; }
  95% {
    opacity: .5; }
  96% {
    opacity: .7; }
  97% {
    opacity: .5; }
  100% {
    opacity: 0;
    display: none; } }
@keyframes hide {
  0% {
    opacity: 1;
    display: block; }
  90% {
    opacity: 1; }
  92% {
    opacity: .7; }
  93% {
    opacity: .9; }
  94% {
    opacity: .6; }
  95% {
    opacity: .5; }
  96% {
    opacity: .7; }
  97% {
    opacity: .5; }
  100% {
    opacity: 0;
    display: none; } }
html,
body {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden; }

body {
  background: white;
  height: 100%;
  position: relative;
  padding-bottom: 6rem; }

h1 {
  display: block;
  position: relative;
  top: 130px;
  text-decoration: none;
  letter-spacing: .2em;
  font-weight: 300;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-family: 'Source Code Pro', monospace; }

#wrapper-0 {
  background: white;
  margin-top: 260px;
  transform: translateY(170px); }

#header nav .navTrigger li {
  background: #736543; }
#header nav > ul {
  background-color: rgba(210, 210, 210, 0); }

nav#menu {
  transition: all 1s ease-out; }
  nav#menu > ul {
    background-color: rgba(210, 210, 210, 0); }
    nav#menu > ul > li > a {
      color: #736543; }
    nav#menu > ul > li:hover > a {
      color: black; }
    nav#menu > ul.hidden {
      animation: none !important; }
      nav#menu > ul.hidden > li {
        opacity: 0;
        transition: all .3s ease-out; }

@media (max-width: 700px) {
  nav#menu > ul {
    background-color: rgba(210, 210, 210, 0); }

  .blurred {
    filter: blur(30px);
    opacity: .7;
    transition: all 1s ease-in; } }
#header {
  background: rgba(200, 200, 200, 0);
  color: #736543; }
  #header > a {
    color: #736543; }
  #header > nav > div > div > i {
    background-color: #736543 !important; }
  #header > * {
    color: #736543; }
  #header .noselect {
    color: #736543; }

body {
  color: #000000; }

#wrapper-0 {
  margin: 0 auto;
  width: 80%; }

.image-wrapper {
  width: 100%; }
  .image-wrapper img {
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%; }

.title {
  height: 100px;
  line-height: 100px;
  color: #332c1d;
  text-align: justify;
  font-weight: 300;
  transform: translateY(-100px);
  font-size: 30px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,7f7f7f+91,ffffff+100 */
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #7f7f7f 91%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, rgba(127, 127, 127, 0.6) 91%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(127, 127, 127, 0.6) 91%, rgba(255, 255, 255, 0.6) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */ }
  .title::first-letter {
    text-transform: uppercase; }

.time {
  margin-top: -20px; }

#wrapper-0 .content {
  text-align: justify;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 20px;
  font-stretch: 100%;
  font-weight: 400;
  font-size: 18px;
  color: #332c1d;
  -webkit-font-smoothing: subpixel-antialiased; }
#wrapper-0 .more {
  position: relative;
  top: -15px;
  padding: 10px;
  user-select: none;
  cursor: pointer;
  float: right;
  background: #8e1d07;
  color: #e4dfd1;
  animation-name: shadowDownMore,shadowDownBrownMore;
  animation-duration: .5s, 1s;
  animation-fill-mode: forwards, forwards;
  animation-direction: forwards,forwards; }
  #wrapper-0 .more:hover {
    animation-name: shadowDownMoreRev,shadowDownMoreRev;
    animation-duration: 1s, 1s;
    animation-fill-mode: forwards,forwards;
    animation-direction: forwards, forwards; }
#wrapper-0 > .forum {
  margin-top: 30px;
  color: black; }
  #wrapper-0 > .forum p {
    user-select: none;
    cursor: pointer;
    display: inline;
    position: relative;
    top: 4px;
    transition: all 1s ease-out;
    font-size: 40px;
    transform: translateY(140px); }
    #wrapper-0 > .forum p:hover {
      transition: all 1s ease-in;
      color: #ef310c; }
  #wrapper-0 > .forum.hidden > .comment {
    display: none; }
  #wrapper-0 > .forum > .nrOfComments {
    float: right; }
  #wrapper-0 > .forum .comment {
    opacity: 1;
    margin: 20px auto;
    background: #684005;
    color: black;
    padding: 20px; }
    #wrapper-0 > .forum .comment > .content_ {
      color: white; }
    #wrapper-0 > .forum .comment .comment {
      margin-right: 0px; }
      #wrapper-0 > .forum .comment .comment .content {
        color: #000000; }
    #wrapper-0 > .forum .comment .comment.hidden {
      display: none; }
    #wrapper-0 > .forum .comment > .loadMore,
    #wrapper-0 > .forum .comment .loaded {
      margin: -10px 5px 20px;
      float: none;
      cursor: pointer;
      transition: all .5s ease-out;
      text-align: right; }
      pa
      #wrapper-0 > .forum .comment > .loadMore:hover, pa
      #wrapper-0 > .forum .comment .loaded:hover {
        color: #ef310c;
        transition: all .5s ease-in; }
    #wrapper-0 > .forum .comment > .login {
      transform: translateY(5px);
      float: right; }
  #wrapper-0 > .forum .date {
    padding: 5px;
    background-image: url("../images/line.png");
    background-repeat: repeat-x; }

hr {
  position: relative;
  top: 60px;
  margin: 120px auto;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5); }

#arrowUp {
  position: fixed;
  z-index: 500;
  bottom: 10px;
  right: 30px;
  width: 40px;
  height: 40px;
  transform: translateX(100px) scaleY(0);
  opacity: 0;
  transition: all 1s ease-out; }
  #arrowUp > svg {
    width: 40px;
    height: 40px;
    transform: rotate(-90deg); }
  #arrowUp.visible {
    transform: translateX(0px) scaleY(1);
    opacity: 1;
    transition: all 1s ease-in; }

#wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -3em; }
  #wrapper:after {
    content: "";
    display: block; }
  #wrapper > aside {
    background: rgba(255, 255, 255, 0.3);
    float: right;
    position: absolute;
    z-index: 80;
    right: 0px;
    top: 150px;
    width: 400px;
    height: 400px;
    transform: translate(350px);
    transition: all .5s ease-out;
    background-color: rgba(255, 255, 255, 0.1); }
    #wrapper > aside #contents {
      float: right;
      width: 70%; }
    #wrapper > aside > div {
      height: 20px;
      line-height: 20px;
      transform: translate(-20px);
      transition: all .5s ease-out;
      position: relative;
      top: 0px;
      left: 5px;
      background: #ffffff;
      color: #372203;
      padding: 5px 15px;
      border-radius: 5px 0px 0px 5px; }
    #wrapper > aside ul {
      opacity: .3; }
    #wrapper > aside:hover {
      transition: transform 0.5s ease-in, background 1s cubic-bezier(0.97, -0.16, 1, 1);
      transform: translate(0px);
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.9); }
      #wrapper > aside:hover > div {
        left: 0px;
        transition: all .3s ease-in;
        transform: translate(0px); }
      #wrapper > aside:hover ul {
        opacity: 1;
        color: #000000; }
    #wrapper > aside > ul {
      margin: 50px 15px;
      list-style-type: none; }
      #wrapper > aside > ul > li {
        margin: 15px 5px;
        border-bottom: solid 1px #000000;
        height: 20px;
        line-height: 20px;
        cursor: pointer;
        transition: all .3s ease-out;
        padding: 6px;
        width: 100%;
        display: block;
        margin-top: 10px;
        border-bottom: 1px solid #464b3c;
        text-align: center;
        text-decoration: none;
        letter-spacing: .1em;
        font-weight: 300;
        transition: all 1s ease-out;
        font-variant: small-caps;
        font-stretch: normal;
        font-size: 14px;
        transition: all 0.5s cubic-bezier(0.97, -0.16, 1, 1); }
        #wrapper > aside > ul > li:hover {
          font-stretch: extra-expanded;
          letter-spacing: .3em;
          font-weight: 800;
          transition: all 0.7s cubic-bezier(0.47, -0.64, 1, 1); }
  #wrapper .greetings a {
    color: #000000; }

#footer,
#wrapper:after {
  height: 3em; }

#modalWindow {
  text-align: center;
  position: fixed;
  opacity: 0;
  transition: all 1s ease-out; }
  #modalWindow.visible {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 1s ease-in;
    background-color: rgba(22, 22, 22, 0.7);
    color: #ffffff;
    z-index: 100; }
  #modalWindow .comment {
    display: block !important;
    width: 80%;
    min-width: 100px;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    height: auto;
    color: #ffffff; }
    #modalWindow .comment .login {
      width: 40% !important;
      min-width: 100px;
      float: left;
      margin: 0px;
      display: inline;
      background: #813b00;
      text-align: left; }
    #modalWindow .comment .date {
      width: 40%;
      position: absolute;
      right: 10px;
      float: right;
      margin: 0px;
      display: inline;
      background: #813b00; }
    #modalWindow .comment .content {
      margin: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 0px;
      background: #e76a00;
      text-align: justify; }
  #modalWindow > textarea {
    position: absolute;
    top: 300px;
    width: 80%;
    min-height: 100px;
    justify-content: center; }
  #modalWindow #okCancel {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: center; }
    #modalWindow #okCancel div {
      width: 80px;
      text-align: center;
      margin: 10px;
      background: #0b0b0b;
      padding: 10px;
      cursor: pointer;
      transition: all .5s ease-out; }
      #modalWindow #okCancel div:hover {
        background: #ffffff;
        color: #0b0b0b;
        transition: all .5s ease-in; }

.hidden[data-id] > * {
  display: none; }

.addComment {
  width: 100px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px auto;
  padding: 8px;
  transition: all .5s ease-out;
  font-weight: 800;
  color: transparent;
  background-color: #1b0c00;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; }
  .addComment:hover {
    transition: all .5s ease-in;
    color: #000000;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0); }
  .addComment div:nth-child(1) {
    border: 1px solid #000000; }

#footer {
  position: relative;
  top: 400px;
  height: 3em;
  margin-top: 3em;
  background-color: #000;
  color: #777;
  font-size: 13px;
  line-height: 3em;
  padding-left: 40px; }

/*# sourceMappingURL=fullblog.css.map */
